name: Build and Publish Docker Images

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  actions: read
  pull-requests: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dockerized-gha-runner

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  schedule:
    - cron: "37 4 * * 0" # Run weekly on Sunday at 04:37 UTC (off-peak time)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # This runs only on special occasions because it takes forever
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set Image Tag
        id: image-tag
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == "refs/heads/main" ]]; then
            TAG="latest"
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == refs/tags/v* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
          else
            TAG="${GITHUB_REF#refs/heads/}"
          fi
          echo "IMAGE_TAG=${TAG}" >> $GITHUB_ENV

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta-docker
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.IMAGE_TAG }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        id: push-docker
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta-docker.outputs.tags }}
          labels: ${{ steps.meta-docker.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
